// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    @media(min-width:1200px){
        max-width:1140px;
        margin-left:auto;
        margin-right:auto;
    }
}
h1{
  color:$text-color;
}
.text-center{
    text-align:center;
}
.game-desc{
  max-width:60%;
  text-align:center;
  margin:20px auto;
}
.high-score-modal{
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  color:$text-color;
  cursor:pointer;
}
.level-wrapper{
    .level-text{
      text-align:center;
      font-weight:600;
      margin-bottom:20px;
      text-transform: uppercase;
    }
    .button-wrapper{
      display:flex;
      align-items: center;
      justify-content:center;
    }
    .level-btn{
        cursor:pointer;
        width:150px;
        padding:10px 12px;
        font-size:16px;
        border-radius:5px;
        line-height:1.5;
        font-weight:500;
        font-family: 'Open Sans', sans-serif;
        background: $bg-color;
        color: #fff;
        &:not(:last-child){
            margin-right:15px;
        }
    }
}
.klotski-board-wrapper{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.klotski-board{
    border:4px solid $bg-color;
    font-weight: 600;
    .board-col{
        min-width:60px;
        min-height:60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $bg-color;
        &#empty-box span{
          opacity:0;
        }
        &.can-move-tile{
          -webkit-animation: blink-bg 1.5s infinite;  /* Safari 4+ */
          -moz-animation: blink-bg 1.5s infinite;  /* Fx 5+ */
          -o-animation: blink-bg 1.5s infinite;  /* Opera 12+ */
          animation: blink-bg 1.5s infinite;  /* IE 10+, Fx 29+ */
        }
    }
}
.game-action{
  margin-top:50px;
  .btn-change{
    padding: 6px 10px;
    margin-top: 5px;
    border-radius: 3px;
    background: $bg-color;
    color: #fff;
    cursor: pointer;
  }
}
.how-to-play-wrapper{
    margin-top:30px;
    h2{
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 15px;
        color: $text-color;
    }
    svg{
      color: $text-color;
    }
    .how-to-play-list{
        display:inline-block;
        text-align:left;
        list-style: none;
        padding-left: 0;
        margin-top:0;
        line-height: 2;
    }
}

@keyframes blink-bg {
  0%{
    background-color: #fff;
  }
  50% {
    background-color: #ffeaea;
  }
  to {
    background-color: #fff;
  }
}
@-webkit-keyframes blink-bg {
  0%{
    background-color: #fff;
  }
  50% {
    background-color: #ffeaea;
  }
  to {
    background-color: #fff;
  }
}

@keyframes slide {
  0% {
    transform : translate(0, 0);
  }
  2% {
    transform : translate($boxWidth, 0);
  }
  12.5% {
    transform : translate($boxWidth, 0);
  }
  15.5% {
    transform : translate(2*$boxWidth, 0);
  }

  25% {
    transform : translate(2*$boxWidth, 0);
  }
  27% {
    transform : translate(2*$boxWidth, $boxWidth);
  }

  37.5% {
    transform : translate(2*$boxWidth, $boxWidth);
  }
  39.5% {
    transform : translate($boxWidth, $boxWidth);
  }

  50% {
    transform : translate($boxWidth, $boxWidth);
  }
  52% {
    transform : translate($boxWidth, 2*$boxWidth);
  }

  62.5% {
    transform : translate($boxWidth, 2*$boxWidth);
  }
  64.5% {
    transform : translate(0, 2*$boxWidth);
  }

  75% {
    transform : translate(0, 2*$boxWidth);
  }
  77% {
    transform : translate(0, $boxWidth);
  }

  87.5% {
    transform : translate(0, $boxWidth);
  }
  89.5% {
    transform : translate(0, 0);
  }

  100% {
    transform : translate(0, 0);
  }
}

svg#loading {
  display : block;
  margin  : auto;
  width   : 300px;
  height  : 300px;
  .rect {
    animation : slide $animationDuration ease infinite;
  }
  #rect1 {
    animation-delay : -0 * $animationStepDuration;
  }
  #rect2 {
    animation-delay : -1 * $animationStepDuration;
  }
  #rect3 {
    animation-delay : -2 * $animationStepDuration;
  }
  #rect4 {
    animation-delay : -3 * $animationStepDuration;
  }
  #rect5 {
    animation-delay : -4 * $animationStepDuration;
  }
  #rect6 {
    animation-delay : -5 * $animationStepDuration;
  }
  #rect7 {
    animation-delay : -6 * $animationStepDuration;
  }
}

//Modal
.score-section{
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 450px;
    margin: 0px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
  }
  
  .modal-header h2 {
    margin-top: 0;
    color: $text-color;
    text-align:center;
    text-transform: uppercase;
  }
  
  .modal-body {
    margin: 20px 0 30px;
    table{
        width:100%;
        caption-side: bottom;
        border-collapse: collapse;
        border-right: 1px solid $bg-color;
        border-left: 1px solid $bg-color;
        thead{
          background: $bg-color;
          color: #fff;
        }
        tbody{
            text-align:center;
        }
        tr{
          border:0;
        }
        th,td{
          border-bottom: 1px solid $bg-color;
          border-top: 0px;
            padding:3px 12px;
        }
    }
    .empty-score{
      text-align:center;
      line-height:1.5;
      font-size:16px;
    }
  }
  .modal-footer{
    text-align:center;
    .modal-default-button {
      font-size: 14px;
      padding: 8px 20px;
      min-width: 150px;
      border-radius: 20px;
      background:$bg-color;
      color:#fff;
      cursor:pointer;
    } 
  }
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
