@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap);
body {
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  color: #619196;
}

.text-center {
  text-align: center;
}

.game-desc {
  max-width: 60%;
  text-align: center;
  margin: 20px auto;
}

.high-score-modal {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  color: #619196;
  cursor: pointer;
}

.level-wrapper .level-text {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.level-wrapper .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.level-wrapper .level-btn {
  cursor: pointer;
  width: 150px;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 5px;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  background: #84B4C8;
  color: #fff;
}
.level-wrapper .level-btn:not(:last-child) {
  margin-right: 15px;
}

.klotski-board-wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.klotski-board {
  border: 4px solid #84B4C8;
  font-weight: 600;
}
.klotski-board .board-col {
  min-width: 60px;
  min-height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #84B4C8;
}
.klotski-board .board-col#empty-box span {
  opacity: 0;
}
.klotski-board .board-col.can-move-tile {
  -webkit-animation: blink-bg 1.5s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: blink-bg 1.5s infinite;
  /* IE 10+, Fx 29+ */
}

.game-action {
  margin-top: 50px;
}
.game-action .btn-change {
  padding: 6px 10px;
  margin-top: 5px;
  border-radius: 3px;
  background: #84B4C8;
  color: #fff;
  cursor: pointer;
}

.how-to-play-wrapper {
  margin-top: 30px;
}
.how-to-play-wrapper h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 15px;
  color: #619196;
}
.how-to-play-wrapper svg {
  color: #619196;
}
.how-to-play-wrapper .how-to-play-list {
  display: inline-block;
  text-align: left;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  line-height: 2;
}

@keyframes blink-bg {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #ffeaea;
  }
  to {
    background-color: #fff;
  }
}
@-webkit-keyframes blink-bg {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #ffeaea;
  }
  to {
    background-color: #fff;
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  2% {
    transform: translate(65px, 0);
  }
  12.5% {
    transform: translate(65px, 0);
  }
  15.5% {
    transform: translate(130px, 0);
  }
  25% {
    transform: translate(130px, 0);
  }
  27% {
    transform: translate(130px, 65px);
  }
  37.5% {
    transform: translate(130px, 65px);
  }
  39.5% {
    transform: translate(65px, 65px);
  }
  50% {
    transform: translate(65px, 65px);
  }
  52% {
    transform: translate(65px, 130px);
  }
  62.5% {
    transform: translate(65px, 130px);
  }
  64.5% {
    transform: translate(0, 130px);
  }
  75% {
    transform: translate(0, 130px);
  }
  77% {
    transform: translate(0, 65px);
  }
  87.5% {
    transform: translate(0, 65px);
  }
  89.5% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  2% {
    transform: translate(65px, 0);
  }
  12.5% {
    transform: translate(65px, 0);
  }
  15.5% {
    transform: translate(130px, 0);
  }
  25% {
    transform: translate(130px, 0);
  }
  27% {
    transform: translate(130px, 65px);
  }
  37.5% {
    transform: translate(130px, 65px);
  }
  39.5% {
    transform: translate(65px, 65px);
  }
  50% {
    transform: translate(65px, 65px);
  }
  52% {
    transform: translate(65px, 130px);
  }
  62.5% {
    transform: translate(65px, 130px);
  }
  64.5% {
    transform: translate(0, 130px);
  }
  75% {
    transform: translate(0, 130px);
  }
  77% {
    transform: translate(0, 65px);
  }
  87.5% {
    transform: translate(0, 65px);
  }
  89.5% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
svg#loading {
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
}
svg#loading .rect {
  -webkit-animation: slide 10s ease infinite;
          animation: slide 10s ease infinite;
}
svg#loading #rect1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
svg#loading #rect2 {
  -webkit-animation-delay: -1.4285714286s;
          animation-delay: -1.4285714286s;
}
svg#loading #rect3 {
  -webkit-animation-delay: -2.8571428571s;
          animation-delay: -2.8571428571s;
}
svg#loading #rect4 {
  -webkit-animation-delay: -4.2857142857s;
          animation-delay: -4.2857142857s;
}
svg#loading #rect5 {
  -webkit-animation-delay: -5.7142857143s;
          animation-delay: -5.7142857143s;
}
svg#loading #rect6 {
  -webkit-animation-delay: -7.1428571429s;
          animation-delay: -7.1428571429s;
}
svg#loading #rect7 {
  -webkit-animation-delay: -8.5714285714s;
          animation-delay: -8.5714285714s;
}

.score-section .modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.score-section .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.score-section .modal-container {
  width: 450px;
  margin: 0px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}
.score-section .modal-header h2 {
  margin-top: 0;
  color: #619196;
  text-align: center;
  text-transform: uppercase;
}
.score-section .modal-body {
  margin: 20px 0 30px;
}
.score-section .modal-body table {
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
  border-right: 1px solid #84B4C8;
  border-left: 1px solid #84B4C8;
}
.score-section .modal-body table thead {
  background: #84B4C8;
  color: #fff;
}
.score-section .modal-body table tbody {
  text-align: center;
}
.score-section .modal-body table tr {
  border: 0;
}
.score-section .modal-body table th, .score-section .modal-body table td {
  border-bottom: 1px solid #84B4C8;
  border-top: 0px;
  padding: 3px 12px;
}
.score-section .modal-body .empty-score {
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}
.score-section .modal-footer {
  text-align: center;
}
.score-section .modal-footer .modal-default-button {
  font-size: 14px;
  padding: 8px 20px;
  min-width: 150px;
  border-radius: 20px;
  background: #84B4C8;
  color: #fff;
  cursor: pointer;
}
.score-section .modal-enter {
  opacity: 0;
}
.score-section .modal-leave-active {
  opacity: 0;
}
.score-section .modal-enter .modal-container,
.score-section .modal-leave-active .modal-container {
  transform: scale(1.1);
}
