<template>
    <div class="main-page">
        
        <div class="container">
            <h1 class="text-center">NUMBER SLIDING KLOTSKI</h1> 
            <div class="game-desc">Klotski (<i>from Polish klocki—wooden blocks</i>) is a sliding block puzzle thought to have originated in the early 20th century. The name may refer to a specific layout of ten blocks, or in a more global sense to refer to a whole group of similar sliding-block puzzles where the aim is to move a specific block to some predefined location.</div>
            <div class="high-score-modal">
                <span @click="showModal = true">Check the High Score here.</span>
            </div>
        </div>
        
        <game-play @isWinScore="modalFinish($event)" ref="refBoard"></game-play>
        <score v-if="showModal" @close="showModal = false"></score>
        <finish-popup v-if="showModalFinish" @close="closeModalFinish">
            <span slot="score">{{ this.finalScore }}</span>
        </finish-popup>
    </div>
</template>

<script>
    import GamePlay from "./partial/GamePlay";
    import Score from "./partial/Score";
    import FinishPopup from "./partial/FinishPopup";
    export default {
        components: {
            GamePlay,
            Score,
            FinishPopup
        },
        data(){
            return{
                loading:false,
                showModal: false,
                showModalFinish: false,
                finalScore: 0
            }
        },
        methods: {
            closeModalFinish(){
                this.$refs.refBoard.showBoard = false;
                this.showModalFinish = false;
            },
            modalFinish(score){
                this.finalScore = score;
                this.showModalFinish = true;
            }
        }
    }
</script>
