<template>
    <div class="score-section">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper high-score-box">
                    <div class="modal-container">
                        <div class="modal-header">
                            <h2>Congratulations!</h2>
                        </div>

                        <div class="modal-body">
                            Your moves is <b><slot name="score"></slot></b>
                        </div>

                        <div class="modal-footer">
                            <button class="modal-default-button" @click="$emit('close')">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>


<script>
    import {mapGetters, mapState} from "vuex";
    export default {
        data(){
            return{
                loading:false
            }
        },
        computed:{
            ...mapGetters(["scoresLength"]),
            ...mapState({
                scores: state=> state.scores
            }),
        },
    }
</script>
