<template>
    <div class="game-play-section">
        <div class="container">
            <div class="level-wrapper" v-if="!showBoard && !loading">
                <div class="level-text">Choose Level</div>
                <div class="button-wrapper">
                    <button class="level-btn" @click="changeColumns(3)">
                        Easy</br>3x3
                    </button>
                    <button class="level-btn" @click="changeColumns(4)">
                        Medium</br>4x4
                    </button>
                    <button class="level-btn" @click="changeColumns(5)">
                        Hard</br>5x5
                    </button>
                </div>
            </div>
            <div v-if="!loading && showBoard" class="game-play">
                <div class="klotski-board-wrapper" >
                    <div class="klotski-board">
                        <div class="board-row" v-for="row in rows" :key="'row' + row">
                            <div v-for="(item,column) in itemsInRow(row)" :key="'row' + row + column" :data-x="column" :data-y="(row - 1)" :id="[(item > 0) ? '' : 'empty-box']" class="board-col">
                                <span>{{ item }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game-action text-center">
                    <div class="curr-steps">Moves: <b>{{ steps }}</b></div>
                    <button class="btn-change" @click="changeLevel()">Change Level</button>
                </div>
                <div class="how-to-play-wrapper text-center">
                    <h2>How To Play:</h2>
                    <ul class="how-to-play-list">
                        <li>Press <font-awesome-icon icon="arrow-left" /> to move the right block to left.</li>
                        <li>Press <font-awesome-icon icon="arrow-right" /> to move the left block to right.</li>
                        <li>Press <font-awesome-icon icon="arrow-up" /> to move up the bottom block.</li>
                        <li>Press <font-awesome-icon icon="arrow-down" /> to move down the top block.</li>
                    </ul>
                </div>
            </div>
            <loader v-else-if="loading"></loader>
        </div>
    </div>
</template>

<script>
    import Loader from "./Loader";
    export default {
        components: {
            Loader,
        },
        data(){
            return{
                items: [],
                answer: [],
                correctItems: [],
                numColumns: 3,
                direction: '',
                emptyBox: '',
                emptyBoxX: 0,
                emptyBoxY: 0,
                steps: 0,
                score: 0,
                loading: false,
                showBoard: false
            }
        },
        computed: {
            totalItems(){
                return (this.numColumns * this.numColumns);
            },
            rows(){
                return this.items == null ? 0 : Math.ceil(this.items.length / this.numColumns);
            },
            getScore(){
                return this.steps;
            },
            checkMove(){
                if(this.direction == 'up' && this.emptyBoxY == (this.numColumns - 1) ||
                this.direction == 'down' && this.emptyBoxY == 0 ||
                this.direction == 'left' && this.emptyBoxX == (this.numColumns - 1)||
                this.direction == 'right' && this.emptyBoxX == 0
                ){
                    return false;
                }
                return true;
            },
        },
        methods: {
            initItems(){
                let initNum = [];
                let totalItem = this.numColumns * this.numColumns;
                for (var i = 0; i < totalItem; i++) {
                    initNum.push(i);
                }
                return initNum;
            },
            initialize(){
                this.items = this.answer = this.correctItems = [];
                this.items = this.getUniqueNumber();
                this.steps = 0;
                this.checkSolveable();
                for (var i = 1; i < this.totalItems; i++) {
                    this.correctItems.push(i);
                }
                this.correctItems.push(0);
                this.showBoard = true;
                this.loading = false;
                var that = this;
                this.$nextTick(function () {
                    that.emptyBox = document.getElementById('empty-box');
                });
            },
            changeColumns(num){
                this.loading = true;
                this.showBoard = false;
                this.numColumns = num;
                var that = this;
                setTimeout(function() {
                    that.initialize();
                }, 1000);

            },
            getUniqueNumber(){
                let result = [];
                let randNumbs = this.initItems();
                for (let i = 0; i < this.totalItems; i++) {
                    const random = Math.floor(Math.random() * (this.totalItems - i));
                    result.push(randNumbs[random]);
                    randNumbs[random] = randNumbs[this.totalItems - 1 - i];
                }

                return result;
            },
            checkAnswer(){
                const equal = (a, b) => a.length === b.length &&
                    a.every((v, i) => v === b[i]);
                return equal(this.answer,this.correctItems);
            },
            moveItem(){
                if(!this.checkMove || this.loading || !this.showBoard){
                    return;
                }
                let nextY = parseInt(this.emptyBoxY);
                let nextX = parseInt(this.emptyBoxX);
                if(this.direction != ''){
                    this.emptyBox = document.getElementById('empty-box');
                    this.emptyBox.id = '';
                    if(this.direction == 'up'){
                        nextY = parseInt(this.emptyBoxY) + 1;
                    }else if(this.direction == 'down'){
                        nextY = parseInt(this.emptyBoxY) - 1;
                    }else if(this.direction == 'left'){
                        nextX = parseInt(this.emptyBoxX) + 1;
                    }else if(this.direction == 'right'){
                        nextX = parseInt(this.emptyBoxX) - 1;
                    }
                    let arrIn = (parseInt(nextY) * this.numColumns) + parseInt(nextX);
                    let emptyIn = (parseInt(this.emptyBoxY) * this.numColumns) + parseInt(this.emptyBoxX);
                    let currEl = document.querySelector("[data-x='"+ nextX + "'][data-y='"+ nextY + "']");
                    this.answer[emptyIn] = this.answer[arrIn];
                    this.answer[arrIn] = 0;
                    Array.from(document.querySelectorAll('.moving-tile')).forEach(function(el) { 
                        el.classList.remove('moving-tile');
                    });
                    Array.from(document.querySelectorAll('.can-move-tile')).forEach(function(el) { 
                        el.classList.remove('can-move-tile');
                    });
                    currEl.classList.add("moving-tile");
                    this.emptyBox.innerHTML = currEl.innerHTML;
                    this.emptyBox = currEl;
                    this.emptyBox.innerHTML = '<span>0</span>';
                    this.emptyBox.id = 'empty-box';
                    this.steps += 1;
                }
                
                if(this.checkAnswer()){
                    this.addToGame();
                    this.$emit("isWinScore", this.getScore);
                    this.steps = 0;
                };
            },
            itemsInRow(row){
                return this.items.slice((row - 1) * this.numColumns, row * this.numColumns);
            },
            placeholderInRow(row){
                return this.numColumns - this.itemsInRow(row).length;
            },
            swapItem: function(x1,x2){
                let temp = this.items[x1];
                this.items[x1] = this.items[x2];
                this.items[x2] = temp;
            },
            countInversion: function (){
                let inv_count = 0;
                for(let i = 0; i < this.totalItems - 1; i++){
                    for(let j=i+1; j<this.totalItems; j++){
                        if(this.items[j] != 0 && parseInt(this.items[i]) > parseInt(this.items[j])){
                            inv_count+=1;
                        }
                    }
                }
                return inv_count;
            },
            isSolveable: function(){
                let inversion = this.countInversion() ;
                let blankY = Math.ceil((this.items.indexOf(0) + 1)/this.numColumns);
                let blankYRev = this.numColumns - blankY + 1;
                if(this.numColumns % 2== 0){
                    if((inversion % 2 == 0 && blankYRev % 2 != 0) || (inversion % 2 != 0 && blankYRev % 2== 0)){
                        return true;
                    }
                }else{
                    return inversion % 2 == 0;
                }
              return false;
            },
            checkSolveable(){
                let c = 0;
                if(!this.isSolveable()){
                    if (this.emptyBoxY == 0 && this.emptyBoxX <= 1) {
                        this.swapItem(this.totalItems - this.numColumns - 2,this.totalItems - 1);
                    } else {
                        this.swapItem(0, this.numColumns);
                    }
                }
                this.answer = this.items;
            },
            changeLevel(){
                this.loading = true;
                this.showBoard = false;
                var that = this;
                setTimeout(function() {
                    that.loading = false;
                }, 500);
            },
            
            addToGame(){
                let score = this.steps;
                this.$store.dispatch("addToScores",score);
            },
        },
        watch: {
            emptyBox: function(val){
                this.emptyBoxX = val.getAttribute('data-x');
                this.emptyBoxY = val.getAttribute('data-y');
                if(this.emptyBoxY > 0){
                    let topEl = document.querySelector("[data-x='"+ this.emptyBoxX + "'][data-y='"+ (parseInt(this.emptyBoxY) - 1) + "']");
                    topEl.classList.add("can-move-tile");
                }
                if(this.emptyBoxY < this.numColumns - 1){
                    let bottomEl = document.querySelector("[data-x='"+ this.emptyBoxX + "'][data-y='"+ (parseInt(this.emptyBoxY) + 1) + "']");
                    bottomEl.classList.add("can-move-tile");
                }
                if(this.emptyBoxX > 0){
                    let leftEl = document.querySelector("[data-x='"+ (parseInt(this.emptyBoxX) - 1) + "'][data-y='"+ this.emptyBoxY + "']");
                    leftEl.classList.add("can-move-tile");
                }
                if(this.emptyBoxX < this.numColumns - 1){
                    let rightEl = document.querySelector("[data-x='"+ (parseInt(this.emptyBoxX) + 1) + "'][data-y='"+ this.emptyBoxY + "']");
                    rightEl.classList.add("can-move-tile");
                }
            },
        },
        mounted(){
            var that = this;
            window.addEventListener('keydown', function(e) {
                if(e.keyCode == '37'){
                    e.preventDefault();
                    that.direction = 'left';
                    that.moveItem();
                }
                if(e.keyCode == '38'){
                    e.preventDefault();
                    that.direction = 'up';
                    that.moveItem();
                }
                if(e.keyCode == '39'){
                    e.preventDefault();
                    that.direction = 'right';
                    that.moveItem();
                }
                if(e.keyCode == '40'){
                    e.preventDefault();
                    that.direction = 'down';
                    that.moveItem();
                }
                return;
            });
        }
    }
</script>
