<template>
    <div>
        <svg id="loading" viewbox="0 0 130 20">
			<g transform="translate(150 50) scale(0.849 0.849) rotate(45 0 0)">
				<rect class="rect" id="rect1" x="0" y="0" width="60" height="60" rx="2" ry="2" fill="#DFC7C1" />
				<rect class="rect" id="rect2" x="0" y="0" width="60" height="60" rx="2" ry="2" fill="#F4DCD6" />
				<rect class="rect" id="rect3" x="0" y="0" width="60" height="60" rx="2" ry="2" fill="#B2D9EA" />
				<rect class="rect" id="rect4" x="0" y="0" width="60" height="60" rx="2" ry="2" fill="#84B4C8" />
				<rect class="rect" id="rect5" x="0" y="0" width="60" height="60" rx="2" ry="2" fill="#619196" />
				<rect class="rect" id="rect6" x="0" y="0" width="60" height="60" rx="2" ry="2" fill="#F3B8B1" />
				<rect class="rect" id="rect7" x="0" y="0" width="60" height="60" rx="2" ry="2" fill="#ECD4FF" />
			</g>
		</svg>
    </div>
</template>