<template>
    <div class="score-section">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper high-score-box">
                    <div class="modal-container">
                        <div class="modal-header">
                            <h2>High Score</h2>
                        </div>

                        <div class="modal-body">
                            <table class="high-score-table" v-if="scoresLength > 0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Moves</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in scores" :key="index">
                                        <td>#{{ index + 1 }}</td>
                                        <td>{{ item }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-else class="empty-score">
                                Create your highest score now!
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="modal-default-button" @click="$emit('close')">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>


<script>
    import {mapGetters, mapState} from "vuex";
    export default {
        data(){
            return{
                loading:false
            }
        },
        computed:{
            ...mapGetters(["scoresLength"]),
            ...mapState({
                scores: state=> state.scores
            }),
        },
    }
</script>
